* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f4f6f8;
}

/* CONTAINER */
.container {
  max-width: 500px;
  margin: auto;
  padding: 15px;
}

/* LOGIN */
.login-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 80px;
}

.login-box input {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.login-box button {
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #4caf50;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

/* CARDS */
.card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* HISTÓRICO */
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.info {
  display: flex;
  flex-direction: column;
}

.info strong {
  font-size: 14px;
}

.info span {
  font-size: 13px;
  color: #666;
}

/* AÇÕES */
.acoes {
  display: flex;
  gap: 8px;
}

.acoes button {
  border: none;
  background: #eee;
  padding: 6px 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.acoes button:hover {
  background: #ddd;
}

/* GRÁFICO */
canvas {
  max-width: 100%;
}

/* NAVBAR */
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.navbar button {
  border: none;
  background: none;
  font-size: 20px;
}

/* IA BOX */
.ia-box {
  background: #1e1e1e;
  color: #00ff9f;
  padding: 12px;
  border-radius: 10px;
  font-size: 13px;
}

/* HISTORICO DE GASTOS*/
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.info {
  display: flex;
  flex-direction: column;
}

.acoes {
  display: flex;
  gap: 8px;
}

.acoes button {
  border: none;
  padding: 6px 8px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-edit {
  background: #ffc107;
}

.btn-delete {
  background: #f44336;
  color: white;
}

/* =========================
   📅 FILTROS PERÍODO
========================= */

.filtros-periodo {
  display: flex;

  justify-content: space-evenly;

  gap: 8px;

  overflow-x: auto;

  padding-bottom: 10px;

  margin-bottom: 15px;

  scrollbar-width: none;
}

.filtros-periodo::-webkit-scrollbar {
  display: none;
}

.filtro-btn {
  border: none;

  background: white;

  padding: 10px 16px;

  border-radius: 999px;

  font-size: 13px;

  font-weight: 600;

  color: #555;

  cursor: pointer;

  white-space: nowrap;

  transition: all 0.2s ease;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.filtro-btn:hover {
  transform: translateY(-1px);
}

.filtro-btn.ativo {
  background: #4caf50;

  color: white;

  box-shadow: 0 4px 12px rgba(76, 175, 80, 0.25);
}
